.color-top{
    background:#AA0000;
}

.bottom-aligned {
    display: flex;
    align-items: flex-end;
}

#topnav {
    background: #AA0000;
}
.color-boton{
    background: #AA0000;
}

.header{
    background: #AA0000;
}

.min-width-full-container{
    min-width: 100vh;
}

@media screen and (max-width: 992px) {
    .ocultar-div{
            display:none;
    }
    #navigationul{
        overflow: scroll;
    }
}

/*@media screen and (min-width: 992px) {
    .ocultar-div{
            display:none;
    }
}*/

.full-height{
    height:100%;
}

.full-width{
    width: 100%;
}
.center-h {
    justify-content: center;
}
.center-v {
    align-items: center;
}